<footer>
  <div>
    <ul class="sections-list">
      <li class="footer-section">
        <h3>About Us</h3>
        <ul class="links-list">
          <li class="footer-link-item">
            <a routerLink="/our-beginnings">Our Beginnings</a>
          </li>
        </ul>
      </li>
      <li class="footer-section">
        <h3>Credits</h3>
        <ul class="links-list">
          <li>
            <a routerLink="/credits">Credits and Acknowledgements</a>
          </li>
          <li>
            <a routerLink="/contributors">Recipe Contributors</a>
          </li>
          <li>
            <a routerLink="/tasters">Tasters and Testers</a>
          </li>
        </ul>
      </li>
      <li class="footer-section">
        <h3>Learn More</h3>
        <ul class="links-list">
          <li>
            <a routerLink="/foods-in-bloom">Foods in Bloom</a>
          </li>
          <li>
            <a routerLink="/complements">Wine and Cheese Complements</a>
          </li>
        </ul>
      </li>
      <li class="footer-section">
        <h3>Shop JLA</h3>
        <ul class="links-list">
          <li>
            <a routerLink="/store">Store</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="copyright">
    &copy; 2019 Junior League of Akron
  </div>
</footer>