<!-- Main Content -->
<main class="content-wrapper">
  <div class="content">
    <h1>Recipe Contributors</h1>
  
    <p>We thank the many women of the Junior League of Akron for sharing their favorite appetizer recipes with us. We regret that we did not have room for them all in the book.</p>
  
    <ul class="list-of-names two-columns">
      <li class="name-entry">Nancy Aleman</li>
      <li class="name-entry">Constance L. Anderson (Mrs. Frank)</li>
      <li class="name-entry">Jean M. Anderson</li>
      <li class="name-entry">Lori Ashton</li>
      <li class="name-entry">Mary Bauer</li>
      <li class="name-entry">Christine Beckner</li>
      <li class="name-entry">Judy Cendro</li>
      <li class="name-entry">Bonnie Childs</li>
      <li class="name-entry">Barbara S. Churchill</li>
      <li class="name-entry">Laura B. Comstock</li>
      <li class="name-entry">Katarina Vujic Cook</li>
      <li class="name-entry">Paula R. Cutillo</li>
      <li class="name-entry">Polly Davis</li>
    </ul>
  </div>
  <app-footer></app-footer>
</main>