/* Recipe Lists */
/* =============================================*/
.appetizers h3 {
	text-decoration: underline;
}

.recipe-entry {
	display: flex;
	flex-flow: row;
	margin: 10px 0;
}

.recipe-entry a:hover {
	color: #ff6300;
}

.recipe-link {
	position: relative;
}

/* Section Page Intro */
/* =============================================*/

.intro {
  display: none;
  position: relative;
}

.intro.show {
	display: block;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-bottom: 20px;
	animation: show_quote 10s ease-out forwards;
	opacity: 0;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to right, #d036e2, #d036e2) 1 100% / 2;
}

.intro.show::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,.7);
  border-radius: 20px;
  z-index: -1;
}

.intro-quote::first-letter {
	font-weight: bold;
	color: #d036e2;
	font-size: 30px;
}

.intro-cite {
	margin-left: 200px;
}


.content-wrapper.delayed-display {
	opacity: 0;
  animation: show_content 2s 10s ease-in forwards;
}

@keyframes show_quote {
	0% { opacity: 0; }
	10% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes show_content {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.options {
  display: flex;
  justify-content: space-between;
}

.options-menu {
  align-self: center;
  
}

.options-menu button {
  margin-left: 10px;
  border: 0;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  right: -40px;
  top: -20px;
  cursor: pointer;
}

.btn-close:hover {
  color: #d036e2;
}

.btn-skip-intro {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 20px;
  animation: delay_start 300ms 3s ease forwards;
  opacity: 0;
}

@keyframes delay_start {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media Queries */
/* =============================================*/

@media (min-width: 769px) {
  .recipes-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
  .recipes-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
/* Small Screens (Mobile) */
@media (max-width: 576px) {
  .recipes-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}